<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
</head>

<body>
  <h1>
    <%= recipe.name %>
  </h1>
  <p>
    <%= recipe.description %>
  </p>
  <ul>
    <% for (let i=0; i < recipe.ingredients.length; i++) { %>
      <li>
        <%= recipe.ingredients[i] %>
      </li>
      <% } %>
  </ul>
  <ol>
    <% for (let i=0; i < recipe.steps.length; i++) { %>
      <li>
        <%= recipe.steps[i] %>
      </li>
      <% } %>
  </ol>
</body>

</html>